.advantages {
  background-color: $solitude;
  background-image: url("../img/ice.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: $base-white;
  padding-top: 110px;
  padding-bottom: 120px;

  @media (min-width: $desktop-width) {
    @include retina {
      background-image: url("../img/ice@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/ice_tablet.webp");
    padding-top: 90px;
    padding-bottom: 100px;

    @include retina {
      background-image: url("../img/ice_tablet@2x.webp");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/ice_mobile.webp");
    padding-top: 57px;
    padding-bottom: 67px;

    @include retina {
      background-image: url("../img/ice_mobile@2x.webp");
    }
  }

  h2 {
    color: $tangaroa;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;

    @media (max-width: $tablet-width) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 31px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: $tablet-width) {
      gap: 30px;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
    }
  }

  li {
    margin: 0;
    background-color: $base-white;
    padding: 29px 30px 46px;
    position: relative;

    @media (max-width: $tablet-width) {
      padding: 26px 16px 20px 20px;
    }

    h3 {
      color: $tangaroa;
      margin: 0;
      padding: 0;
      margin-bottom: 7px;
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;

      @media (max-width: $tablet-width) {
        line-height: 25px;
      }

      br {
        display: none;

        @media (max-width: $tablet-width) {
          display: block;
        }
      }
    }

    p {
      color: $tangaroa;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 0;
    }

    svg {
      display: block;
      margin-bottom: 20px;
      fill: $tangaroa;
    }
  }
}

li:nth-child(3n+1) svg {
  width: 27px;
  height: 32px;

  @media (max-width: $tablet-width) {
    width: 21px;
    height: 26px;
  }
}

li:nth-child(3n-1) svg {
  width: 38px;
  height: 32px;

  @media (max-width: $tablet-width) {
    width: 27px;
    height: 26px;
  }
}

li:nth-child(3n) svg {
  width: 44px;
  height: 32px;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 26px;
  }
}
