.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgba(0, 43, 102, 0.5);
  z-index: 20;
}

.modal__wrapper {
  height: 100%;
  position: absolute;
  background-color: $base-white;
  left: 35px;
  width: calc(100% - 35px);
  min-height: 568px;
  padding: 20px 15px;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin-left: 10px;
  }

  a {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $tangaroa;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal__close-button {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 25px;
    right: 15px;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background-image: url("../img/svg/close.svg");
  }
}
