// Colors
// ---------------------------------

// Default
$base-white: #f9fbfd;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$danube: #5c90c3;
$solitude: #e3ecf6;
$tangaroa: #011c40;
$pattens-blue: #d8e7f4;
$color-tangaroa-opacity: rgba(1, 28, 64, 0.15);
$deep-sky-blue: #00acee;
$blue: #1b0dee;

$color-perano:                      #9ab3ff;

$deep-dodger-blue:                  #2e80fd;
$color-aqua:                        #00e7ff;
$color-dodger-blue:                 #37a1ff;

$body-shadow:                       rgba(0, 43, 102, 0.5);
$body-black-pearl:                  #1d1f20;
$body-azure:                        #effeff;
$color-midnight:                    #2d3843;
$color-midnight-express:            #182346;
$color-cloudy:                      #a9a7a3;
$color-psychedelic-purple:          #d100ff;
$color-red-orange:                  #ff2525;
$color-deep-sky-blue:               #00cbff;
$color-woody-brown:                 #5e4a4a;
$color-columbia-blue:               #9aceff;
$body-ruby:                         #e11a5e;
$body-night-rider:                  #362f2f;
$body-dim-gray:                     #686868;
$body-dark-cerulean:                #05478c;


// Gradient

$motserrat: "Montserrat", "Arial", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
