// Colors
// ---------------------------------

// Default
$base-white: #f9fbfd;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$danube: #5c90c3;
$solitude: #e3ecf6;
$tangaroa: #011c40;
$pattens-blue: #d8e7f4;
$color-tangaroa-opacity: rgba(1, 28, 64, 0.15);
$deep-sky-blue: #00acee;
$color-aqua: #00e7ff;

// Gradient

$motserrat: "Montserrat", "Arial", sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
